.success {
    width: 100%;
    background-color: rgb(134, 279, 132);
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.error {
    width: 100%;
    background-color: rgb(252, 165, 165);
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1)
}