{% extends "account.html" %}

{% block info %}

<form action="/accdetails" method="post" class="flex-col justify-center items-center space-y-6">
    <input type="" placeholder="" name="" id="" class="outline-2 hover:outline-pink-500/80 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 rounded-md text-center w-1/2">
    <input type="" placeholder="" name="" id="" class="outline-2 hover:outline-pink-500/80 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 rounded-md text-center w-1/2">
    <input type="" placeholder="" name="" id="" class="outline-2 hover:outline-pink-500/80 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 rounded-md text-center w-1/2"> 
    <input type="submit" value="Submit" class="outline-2 w-1/2 rounded-md cursor-pointer mx-18 hover:bg-gradient-to-br from-sky-500 to-blue-500 hover:text-black">
</form>

{% endblock %}