{% extends "layout.html" %}
{% block main %}
<div class="w-full h-screen justify-center">
    <div class="w-full justify-center flex" id="menuContainer">
        <div class="w-1/3 text-right" id="menu">
            <a class="mx-2 p-2" href="/"> Home </a>
            <a class="mx-2 p-2" href=""> Portfolio </a>
            <a class="mx-2 p-2" href=""> Logout </a>
        </div>
    </div>
    <div class="w-full">
        <div class="w-1/3 bg-slate-400 m-auto text-center">
            account tools
        </div>
    </div>
</div>

{% endblock %}