{% extends "layout.html" %}
{% block main %}
<div class="w-full h-screen justify-center">

    <div class="w-full h-9/10">
        <div class="w-2/5 h-4/6 bg-slate-400 m-auto text-center rounded-3xl">

            <div class="flex w-full py-8">
                <div class="w-1/3 border-r-1 border-solid border-slate-500 text-center" id="accountMenu">
                    <table class="table-fixed w-full"> 
                        <tbody>
                            <tr class="">
                                <td>
                                    <a href="/password" class="block py-1 my-1 hover:bg-slate-500"> Change Password</a>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <a href="/accdetails" class="block py-1 my-1 hover:bg-slate-500">Change Account Details</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w-2/3 justify-center" id="accountInfo">
                    {% block info %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}