{% extends "layout.html" %}

{% block main %}

<div class="w-full items-center justify-center">

    <table class="table-auto border-collapse border border-gray-600">

        <thead>
            <row>
                <th class="border border-gray-600">Ticker</th>
                <th class="border border-gray-600">High</th>
                <th class="border border-gray-600">Low</th>
                <th class="border border-gray-600">Current Price</th>
            </row>
        </thead>

        <tbody>
            <row>
                <td class="border border-gray-600">nvda</td>
                <td class="border border-gray-600">1000</td>
                <td class="border border-gray-600">340</td>
                <td class="border border-gray-600">900</td>
            </row>
        </tbody>

    </table>

</div>


{% endblock %}