{% extends "layout.html" %}

{% block main %}
<div class="flex bg-linear-to-b from-slate-900 to-black h-fit" id="screen-panel">

    <div class="w-1/5 h-fit items-center justify-center text-center" id="left-panel">
    
        <div class="text-white w-full">
            Watchlist
        </div>
        <div class="h-fit" id="favourite-list">
            
           <!-- This is created by JS -->

        </div>
    </div>
    
    <div class="w-3/5 text-center h-fit" id="main-panel">

        <div class="size-full" id="main-panel-center">
            <div class="w-full h-12  flex justify-evenly relative" id="chart-search-panel">
                <input type="search" class="border-slate-500 border-solid rounded-md border my-1 text-center text-white" autofocus id="search" placeholder="Search code">
                <div class=" w-2/8 h-auto absolute z-10 top-full rounded-md text-white backdrop-blur-lg border-white" id="search-container">
                    
                    <ul id="search-results">
                        <!-- search results go here -->
                    </ul>
                </div>
            </div>

            <div class="h-5/8 w-full  flex-col " id="main-panel-chart">
                <div id="centre-fav-container" class="flex justify-end w-full">
                    <input type="hidden" id="current-ticker">
                    <svg id="centre-fav-add" class="hover:fill-slate-200 cursor-pointer m-4" fill="#475569" height="30px" width="30px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 "></polygon> </g></svg> 
                </div>

                <div class="flex w-full  justify-center">
                    <div id="main-chart" class="w-4/5 h-120 ">
                        <!-- This is where the graph goes -->
                    </div>
                </div>    
                <label class="text-white graph_date_items" for="dateFrom" id="dateFrom-label" style="visibility: hidden">From: </label>
                <input type="date" class="chartDates rounded-md my-5 text-white accent-white graph_date_items" placeholder="Date from" id="dateFrom" style="visibility: hidden" style="visibility: hidden">
                
                <label class="text-white graph_date_items" for="dateTo" id="dateTo-label" style="visibility: hidden">To: </label>
                <input type="date" class="chartDates rounded-md my-5 text-white graph_date_items" placeholder="Date to" id="dateTo" style="visibility: hidden">
                
            </div>
            
                <div id="trade-window" class="w-full h-fit flex">

                    <div class="w-1/2 mr-2 ml-4 my-5 h-fit justify-items-center flex-col">
                        <p class="mb-5 block py-3 px-8 cursor-pointer text-white rounded-lg bg-sky-500 hover:bg-pink-500 w-fit" id="buy-menu-button">Buy</p>
    
                        <div id="buy-menu-container" style="display: none;" class="h-full w-full border border-solid border-white/20 rounded-lg shadow-xl bg-radial-[at_100%_100%] from-slate-950 from-10% via-slate-900 via-50% to-black to-100%">
                            <form action="/buy" method="post" class="flex-col py-2 justify-items-center">
                                <input class="trade_code block border-slate-700 bg-slate-800 rounded-lg py-1 my-2 mx-auto text-center text-slate-100 hover:border-pink-200 focus:border-pink-700 focus:border-solid focus:border w-1/2 buy-preview-fields" type="text" name="code" id="buy_code" placeholder="Ticker Code">
                                <select name="type" id="buy_type" class="text-white bg-slate-800 rounded-lg block py-1 my-2 w-1/2 text-center buy-preview-fields">
                                    <option value="shares">Shares</option>
                                    <option value="value">Value</option>
                                </select>
                                <input class="block border-slate-700 bg-slate-800 rounded-lg py-1 my-2 mx-auto text-center text-slate-100 hover:border-pink-200 focus:border-pink-700 focus:border-solid focus:border w-1/2 buy-preview-fields" type="text" name="buy_quant" id="buy_quant" placeholder="Quantity">
                                
                                <p class="text-white py-2 my-1" id="buy-preview"> </p>

                                <input class="block rounded-lg border border-white text-white w-28 text-center py-1 my-2 mx-auto hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-transparent hover:cursor-pointer" type="submit" value="Place Order">
                            </form>

                        </div>
                    </div>
                    

                    <div class="w-1/2 ml-2 mr-4 my-5 h-fit justify-items-center flex-col">
                        <p class="mb-5 block py-3 px-8 cursor-pointer text-white rounded-lg bg-sky-500 hover:bg-pink-500 w-fit" id="sell-menu-button">Sell</p>
    
                        <div id="sell-menu-container" style="display: none;" class="h-full w-full border border-solid border-white/20 rounded-lg ml-2 mr-4 shadow-xl bg-radial-[at_0%_100%] from-slate-950 from-10% via-slate-900 via-50% to-black to-100%">
                            <form action="/sell" method="post" class="flex-col py-2 justify-items-center">
                                <input class="trade_code block border-slate-700 bg-slate-800 rounded-lg py-1 my-2 mx-auto text-center text-slate-100 hover:border-pink-200 focus:border-pink-700 focus:border-solid focus:border w-1/2 sell-preview-fields" type="text" name="code" id="sell_code" placeholder="Ticker Code">
                                <select name="type" id="sell_type" class="text-white bg-slate-800 rounded-lg block py-1 my-2 w-1/2 text-center sell-preview-fields">
                                    <option value="shares">Shares</option>
                                    <option value="value">Value</option>
                                </select>
                                <input class="block border-slate-700 bg-slate-800 rounded-lg py-1 my-2 mx-auto text-center text-slate-100 hover:border-pink-200 focus:border-pink-700 focus:border-solid focus:border w-1/2 sell-preview-fields" type="text" name="sell_quant" id="sell_quant" placeholder="Quantity">
                                
                                <p class="text-white py-2 my-1" id="sell-preview"> </p>

                                <input class="block rounded-lg border border-white text-white w-28 text-center py-1 my-2 mx-auto hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-transparent hover:cursor-pointer" type="submit" value="Place Order">
                            </form>

                        </div>
                    </div>

                </div>
                
        </div>

    </div>
    
    <div class=" w-1/5 h-fit  text-center" id="right-panel">
        <div class="flex w-full">
            <div class="w-1/2 text-white hover:bg-slate-600/20 p-5 cursor-pointer difference-links" id="winners">
                Biggest Winners
            </div>
            <div class="w-1/2 text-white hover:bg-slate-600/20 p-5 cursor-pointer difference-links" id="losers">
                Biggest Losers
            </div>
        </div>
        
        <div id="difference_panel">
            {% for item in differenceData %}
            <div class="stock-item flex w-full text-white justify-between hover:bg-slate-600/20">
                <div class="cursor-pointer w-3/5 text-left py-5 pl-5 stock-link">
                    <div class="text-base font-bold">{{ item.name }}</div>
                    <div class="text-xs item-code">{{ item.ticker }}</div>
                </div>
                <div class="w-1/5 py-5 text-green-500">
                    {{item.difference}} 
                </div>
                <div class="w-1/10 py-5">
                    <input type="hidden" name="q" value="{{item.ticker}}">
                    <form class="fav-form flex" action="/favourite" method="get">
                        
                        <svg class="hover:fill-slate-200 cursor-pointer add_favourite stock-list-item" fill="" height="20px" width="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 455 455" xml:space="preserve"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 "></polygon> </g></svg> 
                    </form>
    
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

</div>

<div class="w-full h-fit flex justify-center bg-black" id="screen-bottom">
    <div class="w-3/5">
        <div class="w-full justify-center flex px-4" id="data-container" style="visibility: hidden;">
            <div class="w-1/2 text-slate-200 flex justify-center" id="data-left">

                <table class="table-fixed text-center w-1/2">
                    <tr class="py-2 border-y border-solid border-slate-500">
                        <td>Ticker:</td>
                        <td class="table_field" id="ticker"></td>
                    </tr>
                    <tr class="py-2 border-y border-solid border-slate-500">
                        <td>Current Price:</td>
                        <td class="table_field" id="tngoLast"></td>
                    </tr>
                    <tr class="py-2 border-y border-solid border-slate-500">
                        <td>Previous Close:</td>
                        <td class="table_field" id="prevClose"></td>
                    </tr>
                    <tr class="py-2 border-y border-solid border-slate-500">
                        <td>Open Price:</td>
                        <td class="table_field" id="open"></td>
                    </tr>
                    <tr class="py-2 border-y border-solid border-slate-500">
                        <td>High:</td>
                        <td class="table_field" id="high"></td>
                    </tr>
                    <tr class="py-2 border-y border-solid border-slate-500">
                        <td>Low:</td>
                        <td class="table_field" id="low"></td>
                    </tr>
                    <tr class="py-2 border-y border-solid border-slate-500">
                        <td>Mid:</td>
                        <td class="table_field" id="mid"></td>
                    </tr>
                    <tr class="py-2 border-y border-solid border-slate-500">
                        <td>Volume</td>
                        <td class="table_field" id="volume"></td>
                    </tr>
                </table>
            </div>
            <div class="w-1/2 text-slate-200 text-center" id="data-right">
                <!-- STOCK INFO META DATA HERE -->
                    <p class="table_field" id="info"></p>
            </div>
        </div>

        <div class="w-full h-fit shadow-lg text-slate-50 text-center rounded-lg mt-10 mb-5 border border-white/20 bg-radial-[at_100%_100%] from-slate-950 from-10% via-slate-900 via-50% to-black to-100% backdrop-blur-lg" id="overall-sentiment-panel" style="visibility: hidden;">
            <p class="font-bold">Overall Market Sentiment:</p>
            <p id="sentiment-label"></p>
            <p id="sentiment-score"></p>
        </div>
        <div class="w-full h-fit grid grid-cols-2 auto-cols-max gap-5 my-5" id="news_panel">

        </div>
    </div>
</div>

<script>
    

    window.onload = (event) => {
        update_page();
        update_favourites();
        document.getElementById("winners").style.borderBottom = "solid white 2px"
    };
</script>


{% endblock %}