{% extends "layout.html" %}

{% block main %}
<div class="flex">
    <div class="w-1/8 h-screen items-center justify-center text-center">
        <div class="h-1/2">

            <table class="w-full table-fixed">
                <thead>
                    <tr>
                        <th class="w-1/2">Ticker</th>
                        <th class="w-1/2">Volume</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in volumeData %}
                        <tr class="border-y border-solid border-collapse border-slate-400 bg-slate-600 hover:bg-slate-700">
                            <td>
                                {{ item.ticker }}
                            </td>
                            <td>
                                {{ item.volume }}
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        <div class="h-1/2">
            watched stocks
        </div>
    </div>
    
    <div class="w-5/8 h-screen bg-red-200 text-center">
        stock focus panel
    </div>
    
    <div class=" w-2/8 h-screen text-center flex justify-between">
        <table class="table-fixed">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Biggest Gain</th>
                </tr>
            </thead>
            <tbody>

                {% for item in differenceData %}
                    <tr class="border-y border-solid border-collapse border-slate-400 bg-slate-600 hover:bg-slate-700">
                        <td>
                            {{ item.ticker }}
                        </td>
                        <td>
                            {{ item.difference }}
                        </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
        <table class="table-fixed">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Biggest Loss</th>
                </tr>
            </thead>
            <tbody>

                {% for item in differenceDataReverse %}
                    <tr class="border-y border-solid border-collapse border-slate-400 bg-slate-600 hover:bg-slate-700">
                        <td>
                            {{ item.ticker }}
                        </td>
                        <td>
                            {{ item.difference }}
                        </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}