{% extends "account.html" %}

{% block info %}

<div class="w-full text-center justify-center">
    <p>
        Account Details
    </p>
    <br>

    <table class="table-fixed w-full">
        <tbody>
            <tr class="">
                <td class="">Contact Email:</td>
                <td class="text-left">{{userInfo[0].email}}</td>
            </tr>
            <tr class="">
                <td class="">Username:</td>
                <td class="text-left">{{userInfo[0].username}}</td>
            </tr>
            <tr class="">
                <td class="">Name:</td>
                <td class="text-left">{{userInfo[0].fname}} {{userInfo[0].lname}}</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}

