{% extends "account.html" %}

{% block info %}

<div class="w-full text-center justify-center">
    <p class="font-bold">
        Account Details
    </p>
    <br>

    <table class="table-fixed w-full">
        <tbody>
            <tr class="">
                <td class="py-2 ">Contact Email:</td>
                <td class="py-2 text-left">{{userInfo[0].email}}</td>
            </tr>
            <tr class="">
                <td class="py-2 ">Username:</td>
                <td class="py-2 text-left">{{userInfo[0].username}}</td>
            </tr>
            <tr class="">
                <td class="py-2 ">Name:</td>
                <td class="py-2 text-left">{{userInfo[0].fname}} {{userInfo[0].lname}}</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}

