<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
{% with message = get_flashed_messages(with_categories=true) %}
{% if message %}
<header>
    <div class="{{ message[0][0] }}">
        {{ message[0][1] }}
    </div>
</header>
{% endif %}
{% endwith %}
<body class="bg-slate-700">

    {% if session["user_id"] %}
<div class="flex h-18 bg-slate-300 w-full">
    <div class="w-1/2 bg-slate-500 flex justify-evenly items-center">
        <a href="" class="rounded-lg border w-28 text-center py-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0">Link 1</a>
        <a href="" class="rounded-lg border w-28 text-center py-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0">Link 2</a>
        <a href="" class="rounded-lg border w-28 text-center py-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0">Link 3</a>
        <a href="" class="rounded-lg border w-28 text-center py-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0">Link 4</a>
    </div>
    <div class="w-1/2 bg-slate-500 flex">
        <div class="flex w-1/2 justify-end"></div>
        <div class="flex w-1/2 justify-evenly items-center">
            <a href="" class="rounded-lg border w-28 text-center py-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0">Account</a>
            <a href="/logout" class="rounded-lg border w-28 text-center py-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0">Logout</a>    
        </div>
        

    </div>
</div>   
{% endif %}
    
    {% block main %}
    {% endblock %}
   
</body> 
</html>