<!DOCTYPE html>
<html lang="en" class="bg-black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/script.js"></script>
    <script src="static/portfoliochart.js"></script>
    <script src="static/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['corechart']});
    </script>
    <link rel="stylesheet" href="static/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <title>Document</title>
</head>
{% with message = get_flashed_messages(with_categories=true) %}
{% if message %}
<header>
    <div class="{{ message[0][0] }}">
        {{ message[0][1] }}
    </div>
</header>
{% endif %}
{% endwith %}
<body class="bg-gradient-to-b from-slate-900 from-10% to-black to-100% font-[Raleway] bg-no-repeat">

    <div class="w-full justify-end flex" id="menuContainer">
        <div class="w-2/5 justify-end flex" id="menu">
            <a class="rounded-lg border w-28 text-center text-white py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" href="/"> Home </a>
            <a class="rounded-lg border w-28 text-center text-white py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" href="/portfolio"> Portfolio </a>
            <a class="rounded-lg border w-28 text-center text-white py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" href="/account"> Account </a>
            <a class="rounded-lg border w-28 text-center text-white py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" href="/leaderboard"> Leaderboard </a>
            <a class="rounded-lg border w-28 text-center text-white py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" href="/logout"> Logout </a>
        </div>
    </div>


    {% block main %}
    {% endblock %}
   
</body> 
</html>