{% extends "account.html" %}

{% block info %}

<form action="/password" method="post" class="flex-col justify-center items-center space-y-6">
    <p>Enter new password below</p>
    <input type="password" placeholder="Enter your password" name="password" id="password" class="outline-2 hover:outline-pink-500/80 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 rounded-md outline-slate-700 text-center w-1/2">
    <input type="password" placeholder="Enter new password" name="newPassword" id="newPassword" class="outline-2 hover:outline-pink-500/80 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 rounded-md outline-slate-700 text-center w-1/2">
    <input type="password" placeholder="Repeat new password" name="newPasswordConfirm" id="newPasswordCheck" class="outline-2 hover:outline-pink-500/80 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 rounded-md outline-slate-700 text-center w-1/2"> 
    <input type="submit" value="Change Password" class="outline-2 w-1/2 rounded-md cursor-pointer mx-18 hover:bg-gradient-to-br from-sky-500 to-blue-500 hover:text-black hover:border-solid hover:border-1 hover:outline-none">
</form>

{% endblock %}