{% extends "layout.html" %}
{% block main %}
<div class="w-full justify-center flex" id="menuContainer">
    <div class="w-2/5 justify-end flex" id="menu">
        <a class="rounded-lg border w-28 text-center py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" href="/"> Home </a>
        <a class="rounded-lg border w-28 text-center py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" href="/account"> Account </a>
        <a class="rounded-lg border w-28 text-center py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" href="/logout"> Logout </a>
    </div>
</div>
<div class="flex">
    <div class="bg-slate-500 w-3/5">
       <div class="grid grid-cols-2 gap-4 "> 

            {% for item in favourites %}
                <div class="text-center">
                    <table>
                        <tbody>
                            <tr>
                                <td class="p-2">
                                    {{ item["ticker"] }}
                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">Volume:</td>
                                <td class="p-2">
                                    {{ item["volume"] }}

                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">Open:</td>
                                <td class="p-2">
                                    {{ item["open"] }}

                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">Mid:</td>
                                <td class="p-2">
                                    {{ item["mid"] }}

                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">High:</td>
                                <td class="p-2">
                                    {{ item["high"] }}

                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">Low:</td>
                                <td class="p-2">
                                    {{ item["low"] }}

                                </td>
                            </tr>
                            <tr>
                                <td class="p-2">Last:</td>
                                <td class="p-2">
                                    {{ item["tngoLast"] }}

                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
            {% endfor %}
       </div>

    </div>

    <div class=" w-2/5  h-screen text-center">
        <div class="w-full h-1/2 flex">
            <div class="h-full w-1/2">
                <div class="min-w-1/2 h-1/2" id="deposit-panel">

                    <p>Account Balance: {{ balance }}</p>
                    
                    <form action="/deposit" method="post" class="">
                        <input class="block border border-slate-700 bg-slate-800 rounded-lg py-1 my-2 text-center text-slate-100 hover:border-pink-200 focus:border-pink-700 focus:border-solid focus:border" type="text" name="amount" id="deposit_amount" placeholder="Deposit Amount">
                        <input class="block border border-slate-700 bg-slate-800 rounded-lg py-1 my-2 text-center text-slate-100 hover:border-pink-200 focus:border-pink-700 focus:border-solid focus:border" type="password" name="password" id="password" placeholder="Password">
                        <input class="rounded-lg border w-28 text-center py-1 my-2 mx-2 hover:from-cyan-500 hover:bg-linear-to-r to-blue-500 hover:border-0 block" type="submit" value="Deposit">
                    </form>
                    
                    
                </div>
                <div class="h-1/2" id="deposit-history-panel">
                    Deposit history
                    
                </div>
            </div>
            <div class="min-w-1/2 h-full bg-slate-300" id="account-stats-panel">
                <p>Account Stats:</p>
                <p>Total Amount Deposited:</p>
                <p>Total Value of Holdings:</p>
                <p>Total Profit:</p>
            </div>
        </div>
        <div class="min-w-full h-1/2 bg-slate-400" id="transaction-history-panel">
            Transaction history
        </div>
    </div>
</div>
{% endblock %}