{% extends "layout.html" %}
{% block main %}

<div class="flex">
    <div class=" w-3/5">
       <div class="grid grid-cols-2 gap-4 p-4"> 

        {% for item in holdings_grid %}
            <div class="bg-radial-[at_0%_100%] from-slate-900 from-10% via-slate-950 via-50% to-black to-100% h-100 rounded-2xl p-4 shadow-xl text-white ">
                <div class="w-full text-center pb-4 border-b-1 border-white"> <h1 class="font-bold">{{ item.code }}</h1> </div>
                <div class="w-full flex">
                    <table class="w-1/2 text-left">
                        <tbody>
                            <tr class="">
                                <td class="py-2">Stock Held:</td>
                                <td class="py-2">{{ item.quant }}</td>
                            </tr>
                            <tr class="">
                                <td class="py-2">Curr Price:</td>
                                <td class="py-2">{{ item.unitval }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="w-1/2 text-left">
                        <tbody>
                            <tr class="">
                                <td class="py-2">Total Invested:</td>
                                <td class="py-2">{{ item.iteminvest }}</td>
                            </tr>
                            <tr class="">
                                <td class="py-2">Total Value:</td>
                                <td class="py-2">{{ item.itemval }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w-full h-fit portfolio_graph" id="{{item.code}}">
                    <!-- Graph goes here -->
                </div>
                <div class="flex">
                    <div class="w-1/2 text-center inline-block">
                        <p>Total Profit: {{ item.itemprofit }}</p>
                    </div>
                    {% if item.change >= 0 %}
                        <div class="w-1/2 text-center inline-block text-green-500">
                            <p>{{ item.change }}%</p>
                        </div>
                    {% else %}
                        <div class="w-1/2 text-center inline-block text-red-500">
                            <p>{{ item.change }}%</p>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
         
       </div>

    </div>

    <div class=" w-2/5  h-screen text-center">
        <div class="w-full h-1/3 flex justify-center">
            <div class="h-full w-1/2 text-slate-200">

                <div class="h-1/2 w-full text-centre flex-col justify-items-center-center" id="account-stats-panel">
                    
                    <p class="block mb-5 font-bold">Account Stats</p>
                    <table class="table-fixed">
                        <tbody>
                            <tr class="">
                                <td class="w-1/3 py-2">Account Balance:</td>
                                <td class="w-1/3 py-2">£{{ account_stats["balance"] }}</td>
                            </tr>
                            <tr>
                                <td class="w-1/3 py-2">Total Value of Holdings:</td>
                                <td class="w-1/3 py-2">£{{ account_stats["totalvalue"] }}</td>
                            </tr>
                            <tr>
                                <td class="w-1/3 py-2">Total Profit:</td>
                                <td class="w-1/3 py-2">£{{ account_stats["totalprofit"] }}</td>
                            </tr>
                            <tr>
                                <td class="w-1/3 py-2">Leaderboard Position:</td>
                                <td class="w-1/3 py-2">Rank {{ account_stats["leaderboard"]}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            
        </div>
        <div class="min-w-full h-2/3 text-slate-200" id="transaction-history-panel">
            <div class="w-full text-center">
                <h2 class="font-bold">Transaction history</h2>
            </div>
            <div class="w-full flex justify-center">
                <table class="table-fixed">
                    <thead>
                        <tr class="my-1 py-1">
                            <th class="p-2">Item</th>
                            <th class="p-2">Quant</th>
                            <th class="p-2">Total Value</th>
                            <th class="p-2">Unit Price</th>
                            <th class="p-2">Type</th>
                            <th class="p-2">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in transactions %}
                        <tr class="my-1 py-1 border-y border-solid border-slate-500 hover:bg-slate-600">
                            <td class="px-5 py-2">{{ item[5] }}</td>
                            <td class="px-5 py-2">{{ item[6] }}</td>    
                            <td class="px-5 py-2">{{ item[2] }}</td>    
                            <td class="px-5 py-2">{{ item[2] / item[6] }}</td>    
                            <td class="px-5 py-2">{{ item[3] }}</td>
                            <td class="px-5 py-2">{{ item[4] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    google.charts.setOnLoadCallback(
        function() {
            portfolioGraph()
    });
</script>
{% endblock %}