<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>

{% with message = get_flashed_messages(with_categories=true) %}
{% if message %}
<header>
    <div class="{{ message[0][0] }}">
        {{ message[0][1] }}
    </div>
</header>
{% endif %}
{% endwith %}

<body class="bg-linear-to-b from-slate-900 to-black">
    
    <div class="flex items-center justify-center h-screen ">
        
        <form action="/register" method="post" class="flex-col w-1/6 h-1/2 justify-center items-center space-y-6">
            <input type="text" placeholder="User Name" class="outline-1 outline-white text-white hover:outline-pink-500 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autofocus autocomplete="off" name="username">
            <input type="text" placeholder="First Name" class="outline-1 outline-white text-white hover:outline-pink-500 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="fname">
            <input type="text" placeholder="Last Name" class="outline-1 outline-white text-white hover:outline-pink-500 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="lname">
            <input type="email" placeholder="Email" class="outline-1 outline-white text-white hover:outline-pink-500 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="email">
            <input type="password" placeholder="Password" class="outline-1 outline-white text-white hover:outline-pink-500 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="password">
            <input type="password" placeholder="Password Again" class="outline-1 outline-white text-white hover:outline-pink-500 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="password_check">
            <button type="submit" class="outline-1 outline-white text-white w-1/2 rounded-md cursor-pointer mx-18 hover:bg-gradient-to-br from-sky-500 to-blue-500 hover:text-black hover:outline-none">Register</button>
        </form>
        
    </div>
    
</body>
</html>
