{% extends "layout.html" %}
{% block main %}

    {% if get_flashed_messages() %}
        <header>
            <div class="w-full bg-red-300">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
    {% endif %}


    <div class="flex items-center justify-center h-screen text-center">
        
        <form action="/register" method="post" class="flex-col w-1/6 h-1/2 justify-center items-center space-y-6">
            <input type="text" placeholder="User Name" class="outline-2 hover:outline-pink-500/35 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autofocus autocomplete="off" name="username">
            <input type="text" placeholder="First Name" class="outline-2 hover:outline-pink-500/35 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="fname">
            <input type="text" placeholder="Last Name" class="outline-2 hover:outline-pink-500/35 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="lname">
            <input type="email" placeholder="Email" class="outline-2 hover:outline-pink-500/35 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="email">
            <input type="password" placeholder="Password" class="outline-2 hover:outline-pink-500/35 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="password">
            <input type="password" placeholder="Password Again" class="outline-2 hover:outline-pink-500/35 focus:outline-offset-4 focus:bg-slate-500/35 focus:outline-pink-500 w-full rounded-md text-center" autocomplete="off" name="password_check">
            <button type="submit" class="outline-2 w-1/2 rounded-md cursor-pointer mx-18 hover:bg-gradient-to-br from-sky-500 to-blue-500 hover:text-black">Register</button>
        </form>
        
    </div>

{% endblock %}